[submodule "explorer_backend"]
	path = explorer_backend
	url = https://github.com/soramitsu/iroha2-block-explorer-backend.git
	branch = update-dockerfile
[submodule "explorer_web"]
	path = explorer_web
	url = https://github.com/soramitsu/iroha2-block-explorer-web.git
	branch = develop
